.container {
    padding: 16px;
  }
  
  .search-bar-container {
    padding: 8px 16px;
    background: #eaf1fb;
    border-radius: 32px;
    display: flex;
    align-items: center;
    max-height: 40px;
  }
  
  .search-bar-container input {
    font-size: 1rem;
    outline: none;
    border: none;
    background: inherit;
    flex: 1;
  }
  
  .filter-form {
    flex: 1;
    margin-right: 10px;
  }
  
  .sort-by-form {
    max-width: 250px; 
    flex: none;
  }
  
  .catalog-grid {
    padding: 16px;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem; 
  }

  .search-button {
    margin-left: -8px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sort-button {
    margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fab-button {
    position: fixed;
    bottom: 26px; /* Distancia desde la parte inferior */
    right: 26px; /* Distancia desde la parte derecha */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Sombra para resaltar el botón */
    transition: transform 0.3s ease-in-out;
  }
  
  .fab-button:hover {
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
  }

  .results-list {
    margin-top: 1rem;
  }
  
  .result-item {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .result-item:last-child {
    border-bottom: none;
  }
  
  .song-title,
  .song-artist,
  .song-album {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .song-duration {
    width: 80px;
    text-align: center;
    font-weight: bold;
  }
  
  button[mat-icon-button] {
    margin-left: 1rem;
  }
  
  
  